.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
*.todo
.vs
package-lock.json
.editorconfig
.npmrc
.gitattributes

node_modules
webpack.config.js
img/demo.gif
img/quick_pick_demo.png
img/icon_demo.png